.main__title {
  font-family: SF;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}

.section__title {
  font-family: SF;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.sale__title {
  color: rgb(32, 34, 35);
  font-family: SF;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: left;
}

.btn__text {
  color: rgb(32, 34, 35);
  font-family: SF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.text {
  font-family: SF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.location__text {
  color: rgb(32, 34, 35);
  font-family: SF;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: left;
}

.small__text {
  color: rgb(140, 145, 150);
  font-family: SF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.link {
  color: rgb(44, 110, 203);
  font-family: SF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

header {
  position: sticky;
  top: 0px;
}

.header__top {
  background-color: rgb(246, 246, 247);
  padding: 12px 0;
}

.header-top__wrapper {
  display: flex;
  justify-content: space-between;
}

.header-top__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  color: rgb(32, 34, 35);
}
.header-top__item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.header-top__item a, .header-top__item p {
  font-family: SF;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.header__bottom {
  background-color: rgb(0, 160, 172);
  padding: 12px 0;
}

.header-bottom_wrapper {
  display: flex;
  justify-content: space-between;
}

.header-bottom__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
}

.header-bottom__item p:hover {
  text-decoration-line: underline;
}

.cart__button {
  background-color: rgb(246, 246, 247);
  padding: 5px;
  border: 2px solid;
  border-color: rgb(187, 191, 195);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.search {
  border: 2px solid;
  border-color: rgb(187, 191, 195);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.search input {
  width: 448px;
}

.animals {
  background-color: rgb(246, 246, 247);
  padding: 24px 0;
}

.animals__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.animals__item {
  border-radius: 5px;
  border: none;
  background-color: white;
  display: flex;
  flex-basis: 214px;
}
.animals__item div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.animals__item img {
  border-radius: 5px;
  height: 73px;
}

.animals__item:hover div p {
  color: rgb(0, 160, 172);
}

.animals__item:hover {
  transition: all ease 0.3s;
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.06);
}

.about {
  background-color: white;
  padding-top: 32px;
  padding-bottom: 40px;
}

.about__wrapper {
  display: flex;
}

.about__left, .about__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.about__left {
  padding: 44px 0;
}

.about__box {
  display: flex;
  justify-content: space-between;
}

.about__item {
  border-left: 2px solid rgb(152, 198, 205);
  padding-left: 9px;
  padding: 3px 0 3px 9px;
  font-weight: 500;
  font-size: 16px;
}

.about__btn {
  display: flex;
  border-radius: 4px;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  background: rgb(0, 160, 172);
  transition: all 0.3s ease;
  color: white;
  padding: 12px 24px 12px 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: start;
}

.about__btn:hover {
  background: rgb(0, 128, 96);
}

.popular {
  background-color: rgb(246, 246, 247);
  padding: 57px 0;
  padding-top: 56px;
  padding-bottom: 57px;
}

.popular__wrapper {
  display: flex;
  flex-direction: column;
}

.sales__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.sale {
  border-radius: 5px;
  display: flex;
}
.sale button {
  padding: 8px 16px 8px 16px;
  border: 1px solid rgb(140, 145, 150);
  border-radius: 4px;
  background: white;
  align-self: start;
  transition: all 0.3s ease;
}

.sale button:hover {
  background: rgb(246, 246, 247);
}

.sale__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0 24px 24px;
}

.sale__right img {
  height: 100%;
  margin-right: 5px;
}

.box {
  overflow: hidden;
  padding: 24px 0;
}

.box__header {
  display: flex;
  justify-content: space-between;
}
.box__header h4 {
  margin: 10px 0px;
}

.arrows, .newArrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrows button, .newArrows button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  background-color: rgb(223, 223, 223);
  border: none;
  padding: 15px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.box__main {
  display: flex;
  gap: 30px;
  transition: all ease 0.2s;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background-color: #FAFBFB;
  width: 270px;
  height: 392px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  transition: all ease 0.2s;
  font-size: 16px;
}
.item:hover {
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.06);
}

.item__header img {
  width: 254px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 130px;
}

.count {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 4px;
}

.selected__cnt, .cnt {
  background-color: #449DA7;
  color: white;
  text-align: center;
  padding: 2px 8px;
  border-radius: 2px;
  white-space: nowrap;
  font-family: SF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.cnt {
  background-color: #E4E5E7;
  color: black;
}

.item__footer p {
  font-size: 16px;
  font-weight: 700;
}
.item__footer div {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
}

.big__btn {
  border: 1px solid rgb(0, 160, 172);
  border-radius: 4px;
  width: 100%;
  text-align: center;
  color: black;
  padding: 8px 16px 8px 16px;
  background-color: white;
  transition: all ease 0.2s;
}
.big__btn p {
  font-weight: 500;
}
.big__btn:hover {
  background-color: rgb(0, 160, 172);
  color: white;
}

.new {
  background-color: white;
  padding: 24px 0;
}

.new__wrapper {
  display: flex;
  flex-direction: column;
}

.brands {
  background-color: rgb(246, 246, 247);
  padding: 56px 0;
}

.brands__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.brands__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
  gap: 25px;
}

.brands-grid__item {
  padding: 14px 20px 14px 20px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-grid__item img {
  width: 134px;
  height: 87px;
}

.reviews__wrapper {
  margin-top: 56px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__wrapper h4, .reviews__wrapper p {
  text-align: center;
  max-width: 718px;
}

.reviews__footer {
  margin: 12px 0 22px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.reviews__footer div {
  display: flex;
  gap: 3px;
}
.reviews__footer div p {
  color: rgb(109, 113, 117);
  font-family: SF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.reviews__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.reviews__arrows p {
  color: rgb(145, 106, 0);
  font-family: SF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.reviews__arrows button {
  border-radius: 50%;
  background: rgb(246, 246, 247);
  padding: 8px;
}

.articles {
  background-color: rgb(246, 246, 247);
  padding-bottom: 56px;
}

.articles__wrapper {
  display: flex;
  flex-direction: column;
}

.articles__box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 16px;
  gap: 16px;
  transition: ease all 0.3s;
}
.article div {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  text-wrap-mode: nowrap;
}
.article div p {
  color: rgb(140, 145, 150);
  font-family: SF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.article div img {
  width: 12.8px;
  height: 12.8px;
}

.article:hover {
  border-radius: 5px;
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.about__owner {
  background-color: white;
}

.about-owner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-owner__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  padding-right: 110px;
}

.location {
  padding: 56px 0;
  background-color: rgb(246, 246, 247);
}

.location__wrapper {
  display: flex;
  gap: 86px;
}
.location__wrapper ul {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.footer {
  background-color: white;
  padding: 16px 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__item {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: SF;
  src: url("../fonts/SFProText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src: url("../fonts/SFProText-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src: url("../fonts/SFProText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  background: rgb(224, 224, 224);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

input {
  font-family: SF;
}/*# sourceMappingURL=style.css.map */