@use './texts';
@use './modal';
@use './header/header';
@use './main/animals';
@use './main/about';
@use './main/popular';
@use './main/new';
@use './main/brands';
@use './main/articles';
@use './main/about_owner';
@use './main/location';
@use './footer/footer';

@font-face {
  font-family: SF;
  src: url('../fonts/SFProText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src: url('../fonts/SFProText-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src: url('../fonts/SFProText-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src: url('../fonts/SFProText-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

.wrapper{
  background: rgb(224, 224, 224);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

input{
  font-family: SF;
}