.location{
  padding: 56px 0;
  background-color: rgb(246, 246, 247);
}
.location__wrapper{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
  ul{
    max-width: 400px;
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
}

.loc__img{
  height: 100%;
  width: 100%;
}